#wall {
    justify-content: center;
    border-bottom: 3px solid black;
}

#elevator-door {
    height: 500px;
    width: 300px;
    background-color: silver;
    border: 6px 6px 6px 0 solid lightgray;
    margin-right: 10px;
}

#elevator-panel {
    height: 100px;
    width: 60px;
    background-color: silver;
    border-left: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}