#wall {
    border-bottom: 3px solid black;
}

#elevator-door {
    height: 500px;
    width: 300px;
    background-color: silver;
    border-top: 6px solid lightgray;
    border-left: 6px solid lightgray;
    border-right: 6px solid lightgray;
    margin-right: 10px;
    float: left;
}

#button-panel {
    height: 100px;
    width: 60px;
    background-color: silver;
    border-left: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    float: left;
}